
<nz-card nzType="inner" nzTitle="Tell us about yourself" [nzExtra]="extraTemplate">
<form (ngSubmit)="onSubmit(this.myForm.value)" [formGroup]="myForm" class="form-horizontal">
  <!-- <input type="hidden formC" -->
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="8">
      <nz-form-label><u>Name</u></nz-form-label>
      <h3 text-black mt-2 mb-3 nz-title nzType="secondary">{{formData?.formName}}</h3>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-label><u>Company</u></nz-form-label>
      <h3 text-black mt-2 mb-3 nz-title nzType="secondary">{{formData?.companyName}}</h3>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-label><u>Job</u></nz-form-label>
      <h3 text-black mt-2 mb-3 nz-title nzType="secondary">{{formData?.jobName}}</h3>
    </div>
  </div>
    <nz-divider></nz-divider>
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="8">
      <nz-form-label><u>Categories</u></nz-form-label>
      <h3 *ngFor="let cat of categoriesStringArray" text-black mt-2 mb-3 nz-title nzType="secondary">{{cat}}</h3>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-label><u>Start Date</u></nz-form-label>
      <h3 text-black mt-2 mb-3 nz-title nzType="secondary">{{formData?.startDate   | date}}</h3>
    </div>
    <div  nz-col nzSpan="8">
      <nz-form-label><u>End Date</u></nz-form-label>
      <h3 text-black mt-2 mb-3 nz-title nzType="secondary">{{formData?.endDate   | date}}</h3>
    </div>
  </div>
  <nz-divider></nz-divider>
              <div nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
                <div nz-col nzSpan="8">
                         <nz-form-item class="full-width" appearance="outline">
                           <nz-form-control>
                                <input  nz-input formControlName="firstName" placeholder="First name">
                              </nz-form-control>
                            </nz-form-item>
                            </div>
                              <div  nz-col nzSpan="8">
                          <nz-form-item class="full-width" appearance="outline">
                              <nz-form-control>
                                <input nz-input  placeholder="Middle name" formControlName="middleName" type="text" >
                              </nz-form-control>
                        </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8">
                          <nz-form-item class="full-width" appearance="outline">
                            <nz-form-control>
                                 <input  nz-input formControlName="lastName" placeholder="Last name">
                               </nz-form-control>
                             </nz-form-item>
                             </div>
                      </div>
                      <div nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
                        <div nz-col nzSpan="8">
                                 <nz-form-item class="full-width" appearance="outline">
                                   <nz-form-control>
                                        <nz-date-picker  formControlName="dateOfBirth" nzPlaceHolder="DOB" ></nz-date-picker>
                                      </nz-form-control>
                                    </nz-form-item>
                                    </div>
                                      <div  nz-col nzSpan="8">
                                  <nz-form-item class="full-width" appearance="outline">
                                      <nz-form-control>
                                        <input nz-input  placeholder="Mobile" formControlName="mobile" type="text" >
                                      </nz-form-control>
                                </nz-form-item>
                                </div>
                              </div>
                              <div nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
                                <div nz-col nzSpan="8">
                                         <nz-form-item class="full-width" appearance="outline">
                                           <nz-form-control>
                                                <input  nz-input formControlName="email" placeholder="email address">
                                              </nz-form-control>
                                            </nz-form-item>
                                            </div>
                                              <div  nz-col nzSpan="8">
                                          <nz-form-item class="full-width" appearance="outline">
                                              <nz-form-control>
                                                <input nz-input  placeholder="Physical address" formControlName="address" type="text" >
                                              </nz-form-control>
                                        </nz-form-item>
                                        </div>
                                      </div>
  <div *ngFor="let field of fields">
      <field-builder [field]="field" [form]="form"></field-builder>
  </div>
  <div nz-row nzType="flex" nzJustify="end" [nzGutter]="8" style="margin-top: 10px;">
    <div nz-col nzSpan="8">
      <nz-form-label>Company can view you files:</nz-form-label>
    </div>
    <div nz-col nzSpan="4">
      <nz-switch  formControlName="filesPublic"></nz-switch>
</div></div>
  <div nz-row>
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="4">
      <button  nz-button nzType="primary" type="submit"  [disabled]="!myForm.valid && companyName==undefined"  class="mr-2">Save</button>
    </div>
  </div>
</form>
</nz-card>
<ng-template #extraTemplate>

  <input
                  placeholder="Search Form"
                  nz-input
                  [(ngModel)]="inputValue"
                  (input)="onInput($event.target?.value)"
                  [nzAutocomplete]="auto"
                />
                <nz-autocomplete #auto>
                    <nz-auto-option *ngFor="let item of listOfForms" (click)="getForm(item.formName)"   [nzValue]="item.formName">{{item.formName}}</nz-auto-option>
                </nz-autocomplete>
</ng-template>
<!-- {{myForm.value | json}} -->
