<div [formGroup]="form">
  <div class="form-check" *ngFor="let opt of field.options">
    <input  [formControlName]="field.name" type="radio"  [value]="opt.key"  (change)="radioChange($event,opt)">
    <label>
      {{opt.label}}
    </label>
  </div>
</div>

<!-- <div [formGroup]="form">
  <div class="form-check" *ngFor="let opt of field.options">
    <nz-radio-group>
      <label nz-radio name="myradio"  nzValue="opt.key" id="opt.key">{{opt.label}}</label>
    </nz-radio-group>
  </div></div> -->
