<nz-tabset>
  <nz-tab nzTitle="Create Form">
<form nz-form nzLayout="'vertical'" [formGroup]="form" (submit)="submit(form.value)">
  <nz-card nzType="inner" nzTitle="CREATE APPLICATION FORM" [nzExtra]="extraTemplate">
    <!-- <h1 text-black mt-2 mb-3>CREATE APPLICATION FORM</h1> -->
    <!-- <div  formGroupName="formHeader"> -->
      <div nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
        <div nz-col nzSpan="8">
                 <nz-form-item class="full-width" appearance="outline">
                   <nz-form-control>
                        <input  nz-input formControlName="formName" placeholder="Form Name">
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                      <div  nz-col nzSpan="8">
                  <nz-form-item class="full-width" appearance="outline">
                      <nz-form-control>
                        <input nz-input  placeholder="companyName" formControlName="companyName" type="text" disabled="false">
                      </nz-form-control>
                </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item class="full-width" appearance="outline">
                    <nz-form-control>
                         <input  nz-input formControlName="jobName" placeholder="Job name">
                       </nz-form-control>
                     </nz-form-item>
                     </div>
              </div>
              <div nz-row nzType="flex" nxJustify="center" [nzGutter]="8">
                <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-control>
                      <nz-select  formControlName="category" nzMode="tags" nzPlaceHolder="Please select category" [nzLoading]="loading" [compareWith]="compareFn">
                          <nz-option *ngFor="let item of categoryList" [nzLabel]="item.name" [nzValue]="item"></nz-option>
                        </nz-select>
                  </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="5">
                  <nz-form-item class="full-width" appearance="outline">
                    <nz-form-control>
                      <nz-date-picker formControlName="startDate"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                            </div>
                            <div nz-col nzSpan="5">
                              <nz-form-item>
                                <nz-form-control>
                                  <nz-date-picker formControlName="endDate"></nz-date-picker>
                                </nz-form-control>
                              </nz-form-item>
                                        </div>
                                        <div nz-col nzSpan="4">
                                          <nz-form-item>
                                            <nz-form-control><nz-switch formControlName="saveAsCustomTemplate" name="showBenefits">save</nz-switch></nz-form-control>
                                          </nz-form-item>
                                        </div>
              </div>

  </nz-card>
              <nz-card style="background: #f4f8fc; margin:20px;" class="border"  [nzBordered]="true">
                <!-- <input type="hidden" formControlName="id"> -->
                <div formArrayName="questions">
                  <div *ngFor="let question of this.form.get('questions')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <div nz-row [nzGutter]="16" nzType="flex" nzJustify="start">
                        <div nz-col nzSpan="2">
                          <span nz-text nzDisabled>{{i+1}}</span>
                        </div>
                          <div nz-col nzSpan="8">
                          <input type="hidden" formControlName="value">

                            <nz-form-item class="full-width" appearance="outline">
                                    <nz-form-control>
                                      <textarea nz-input class="form-control" placeholder="Question # {{i+1}}" formControlName="label"></textarea>
                                    </nz-form-control>
                            </nz-form-item>
                      </div>



                        <div nz-col nzSpan="4">
                          <nz-form-item class="full-width" appearance="outline">
                       <nz-form-label nzFor="type">Type of Question</nz-form-label>
                       <nz-form-control>
                        <!-- <nz-select [(ngModel)]="contactFormGroup.controls[i].value.type" formControlName="type" > -->
                          <nz-select formControlName="type" >
                           <nz-option *ngFor="let q of questionType" [nzValue]="q" placeholder="Type of Question" [nzLabel]="q">{{q}}</nz-option>
                         </nz-select>
                       </nz-form-control>
                   </nz-form-item>
                         </div>

                        <div nz-col nzSpan="4">
                          <nz-form-item class="full-width" appearance="outline">
                            <nz-form-label nzFor="type">Field Name</nz-form-label>
                            <nz-form-control>
                               <input nz-input class="form-control" placeholder="Fullname" formControlName="name" type="text">
                               </nz-form-control>
                             </nz-form-item>
                        </div>

                          <div nz-col nzSpan="4">
                            <nz-form-item>
                              <nz-form-control nz-tooltip nzTooltipTitle="required question">
                                <!-- <label nz-checkbox (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate" > Required </label> -->
                                <!-- <nz-checkbox-group nz-tooltip nzTooltipTitle="required question" formControlName="required" ></nz-checkbox-group> -->
                                <input type="checkbox"  formControlName="required">
                              </nz-form-control>
                              </nz-form-item>
                            </div>
                          </div>

                            <div nz-row>
                            <span *ngIf="contactFormGroup.controls[i].value.type === 'select'">
                            <nz-divider nzText="options"></nz-divider>
                            <div  nz-col nzSpan="15">
                      <div formArrayName="options">
                        <div  *ngFor="let anwers of question.get('options').controls; let j = index;">
                          <div [formGroupName]="j">
                            <div nz-row>
                              <div nz-col nzSpan="9">
                              <nz-form-item class="full-width" appearance="outline">
                                <nz-form-label nzFor="label">select #{{j+1}}</nz-form-label>
                                <nz-form-control>
                                  <input nz-input class="form-control" formControlName="label" type="text">
                                </nz-form-control>
                                </nz-form-item>
                              </div>
                                <div nz-col nzSpan="9">
                              <nz-form-item class="full-width" appearance="outline">
                                <nz-form-label nzFor="key">key</nz-form-label>
                                <nz-form-control>
                                  <input nz-input placeholder="key" class="form-control" formControlName="key" type="text" >
                                </nz-form-control>
                                </nz-form-item>
                              </div>
                              <div nz-col nzSpan="6">
                                <nz-form-item class="full-width" appearance="outline">
                               <nz-form-label nzFor="type">Question Weighting</nz-form-label>
                               <nz-form-control>
                                  <input nz-input class="form-control" placeholder="Question Weighting" formControlName="weight" type="number" nzRequired>
                                  </nz-form-control>
                                </nz-form-item>
                                </div>
                              </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="5">
                          <button nz-button nzType="primary"  type="button" (click)="addAnswer(i)">Add</button>
                          <button nz-button nzType="accent" type="button" (click)="removeAnswer(i,j)"> Remove</button>
                        </div>
                      </span>
                        </div>

                        <div nz-row>
                        <span *ngIf="contactFormGroup.controls[i].value.type === 'radio'">
                          <nz-divider nzText="options"></nz-divider>
                      <div nz-col nzSpan="15">
                      <div formArrayName="options">
                          <div *ngFor="let anwers of question.get('options').controls; let j = index;">
                            <div [formGroupName]="j">
                              <div nz-row>
                                <div nz-col nzSpan="9">
                                  <nz-form-item class="full-width" appearance="outline">
                                  <nz-form-label nzFor="label">radio #{{j+1}}</nz-form-label>
                                  <nz-form-control>
                                    <input nz-input class="form-control" formControlName="label" type="text">
                                  </nz-form-control>
                                  </nz-form-item>
                                </div>
                                <div nz-col nzSpan="9">
                                  <nz-form-item class="full-width" appearance="outline">
                                    <nz-form-label nzFor="label">key</nz-form-label>
                                    <nz-form-control>
                                      <input nz-input class="form-control" formControlName="key" type="text">
                                    </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="6">
                                  <nz-form-item class="full-width" appearance="outline">
                                 <nz-form-label nzFor="type">Question Weighting</nz-form-label>
                                 <nz-form-control>
                                    <input nz-input class="form-control" placeholder="Question Weighting" formControlName="weight" type="number">
                                    </nz-form-control>
                                  </nz-form-item>
                                  </div>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div nz-col nzSpan="5">
                          <button nz-button nzType="primary" type="button" (click)="addAnswer(i)">Add </button>
                          <button nz-button nzType="primary" type="button" (click)="removeAnswer(i,j)"> Remove</button>
                         </div>
                        </span>
                      </div>

                      <div nz-row>
                    <span *ngIf="contactFormGroup.controls[i].value.type === 'checkbox'">
                            <nz-divider nzText="options"></nz-divider>
                            <div nz-col nzSpan="15">
                            <div formArrayName="options">

                              <div *ngFor="let anwers of question.get('options').controls; let j = index;">
                                <div [formGroupName]="j">

                                      <div nz-row>
                                        <div nz-col nzSpan="9">
                                          <nz-form-item class="full-width" appearance="outline">
                                            <nz-form-label nzFor="label">check box #{{j+1}}</nz-form-label>
                                              <nz-form-control>
                                                <input nz-input class="form-control" formControlName="label" type="text">
                                            </nz-form-control>
                                            </nz-form-item>
                                        </div>
                                        <div nz-col nzSpan="9">
                                          <nz-form-item class="full-width" appearance="outline">
                                            <nz-form-label nzFor="label">key</nz-form-label>
                                              <nz-form-control>
                                                <input nz-input class="form-control" formControlName="key" type="text">
                                            </nz-form-control>
                                            </nz-form-item>
                                        </div>
                                        <div nz-col nzSpan="6">
                                          <nz-form-item class="full-width" appearance="outline">
                                         <nz-form-label nzFor="type">Question Weighting</nz-form-label>
                                         <nz-form-control>
                                            <input nz-input class="form-control" placeholder="Question Weighting" formControlName="weight" type="number">
                                            </nz-form-control>
                                          </nz-form-item>
                                          </div>
                                      </div>

                              </div>
                              </div>

                          </div>
                          </div>
                          <div nz-col nzSpan="6">
                            <button nz-button nzType="primary" type="button" (click)="addAnswer(i)"><i nz-icon nzType="plus" nzTheme="outline">Add</i></button>
                            <button nz-button nzType="primary" type="button" (click)="removeAnswer(i,j)"> <i nz-icon nzType="close" nzTheme="outline">Remove</i></button>
                          </div>
                        </span>
                        <span *ngIf="contactFormGroup.controls[i].value.type === 'yesno'">
                          <nz-divider nzText="options"></nz-divider>
                          <div nz-col nzSpan="15">
                          <div formArrayName="options">

                            <div *ngFor="let anwers of question.get('options').controls; let j = index;">
                              <div [formGroupName]="j">

                                    <div nz-row>
                                      <div nz-col nzSpan="9">
                                        <nz-form-item class="full-width" appearance="outline">
                                          <nz-form-label nzFor="label">yes</nz-form-label>
                                            <nz-form-control>
                                              <input nz-input class="form-control" formControlName="label" type="text" placeholder="yes" onchange="fillKey()">
                                          </nz-form-control>
                                          </nz-form-item>
                                      </div>
                                      <div nz-col nzSpan="9">
                                        <nz-form-item class="full-width" appearance="outline">
                                          <nz-form-label nzFor="label">key</nz-form-label>
                                            <nz-form-control>
                                              <input nz-input class="form-control" formControlName="key" type="text">
                                          </nz-form-control>
                                          </nz-form-item>
                                      </div>
                                      <div nz-col nzSpan="6">
                                        <nz-form-item class="full-width" appearance="outline">
                                       <nz-form-label nzFor="type">Question Weighting</nz-form-label>
                                       <nz-form-control>
                                          <input nz-input class="form-control" placeholder="Question Weighting" formControlName="weight" type="number">
                                          </nz-form-control>
                                        </nz-form-item>
                                        </div>
                                    </div>
                                    <div nz-row>
                                      <div nz-col nzSpan="9">
                                        <nz-form-item class="full-width" appearance="outline">
                                          <!-- <nz-form-label nzFor="label">no</nz-form-label> -->
                                            <nz-form-control>
                                              <input nz-input class="form-control" formControlName="label" type="text" placeholder="no">
                                          </nz-form-control>
                                          </nz-form-item>
                                      </div>
                                      <div nz-col nzSpan="9">
                                        <nz-form-item class="full-width" appearance="outline">
                                          <!-- <nz-form-label nzFor="label">key</nz-form-label> -->
                                            <nz-form-control>
                                              <input nz-input class="form-control" formControlName="key" type="text">
                                          </nz-form-control>
                                          </nz-form-item>
                                      </div>
                                      <div nz-col nzSpan="6">
                                        <nz-form-item class="full-width" appearance="outline">
                                       <!-- <nz-form-label nzFor="type">Question Weighting</nz-form-label> -->
                                       <nz-form-control>
                                          <input nz-input class="form-control" placeholder="Question Weighting" formControlName="weight" type="number">
                                          </nz-form-control>
                                        </nz-form-item>
                                        </div>
                                    </div>

                            </div>
                            </div>

                        </div>
                        </div>
                        <!-- <div nz-col nzSpan="6">
                          <button nz-button nzType="primary" type="button" (click)="addAnswer(i)"><i nz-icon nzType="plus" nzTheme="outline">Add</i></button>
                          <button nz-button nzType="primary" type="button" (click)="removeAnswer(i,j)"> <i nz-icon nzType="close" nzTheme="outline">Remove</i></button>
                        </div> -->
                      </span>
                      </div>
                      </div>
                      <nz-divider ></nz-divider>
              </div>
          </div>
          <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="isSaveLoading" type="button" class="mr-2" (click)="addContact()">Next Question</button>
        </nz-card >
            </form>
            {{form.value | json}}
<ng-template #extraTemplate>
  <nz-dropdown>
    <button nz-button nzType="link" nz-dropdown>|Custom Templates|</button>
    <ul nz-menu nzSelectable>
      <li nz-menu-item *ngFor="let o of listOfForms"><a>{{o.formName}}</a></li>
      </ul>
  </nz-dropdown>
  <button nz-button nzType="link" >|Standard Templates|</button>
</ng-template>
</nz-tab>
<nz-tab nzTitle="Create Advert">
  <nz-card  nzType="inner" nzTitle="Add Advert" [nzExtra]="advertTemplate">
    <div>
      <div class="addPost">
        <form nz-form [nzLayout]="'verical'" [formGroup]="adForm" (submit)="submitAd(adForm.value)">
          <div nz-row nzType="flex" nzJustify="center" [nzGutter]="8">
            <div nz-col nzSpan="12" >
          <nz-form-item>
            <nz-form-label>Title</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Post title" formControlName="title">
            </nz-form-control>
          </nz-form-item>
          </div>
          <div nz-col nzSpan="12" >
            <nz-form-item>
              <nz-form-label>Advert Form</nz-form-label>
              <nz-form-control>
                <!-- <nz-select [(ngModel)]="selectedValue" nzAllowClear formControlName="formName" style="width: 100%"  nzPlaceHolder="Please select post form "  [compareWith]="compareFn" (ngModelChange)="getForm($event)">
                  <nz-option *ngFor="let option of listOfForms" [nzLabel]="option.formName" [nzValue]="option.formName" ></nz-option>
                </nz-select> -->

                <nz-select [(ngModel)]="selectedValue" formControlName="formName" nzPlaceHolder="Select users" nzAllowClear (ngModelChange)="getForm($event)">
                  <nz-option *ngFor="let o of listOfFormsCompany" [nzValue]="o.formName" [nzLabel]="o.formName"></nz-option>
                  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            </div>

          </div>
          <div nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
            <div nz-col nzSpan="12" >
          <nz-form-item>
            <nz-form-label>Country of placement</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Country Of Placement" formControlName="countryOfPlacement">
            </nz-form-control>
          </nz-form-item>
          </div>
          <div nz-col nzSpan="12" >
          <nz-form-item>
            <nz-form-label>Category</nz-form-label>
            <nz-form-control>
              <nz-select [compareWith]="compareFn" formControlName="category" style="width: 100%" nzMode="tags" nzPlaceHolder="Please select post categories" >
                <nz-option *ngFor="let option of categoryList" [nzLabel]="option.name"  [nzValue]="option"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          </div>
          </div>
          <div nz-row nzType="flex" nxJustify="center" [nzGutter]="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Job</nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="Job Name" formControlName="job">
                </nz-form-control>
              </nz-form-item>
              </div>
            <div nz-col nzSpan="6">
              <nz-form-item class="full-width" appearance="outline">
                <nz-form-label>Start date</nz-form-label>
                <nz-form-control>
                  <nz-date-picker formControlName="startDate"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                          <nz-form-item>
                            <nz-form-label>End Date</nz-form-label>
                            <nz-form-control>
                              <nz-date-picker formControlName="endDate"></nz-date-picker>
                            </nz-form-control>
                          </nz-form-item>
                                    </div>
          </div>

          <nz-form-item>
            <nz-form-label>Description</nz-form-label>
            <nz-form-control>
              <textarea nz-input placeholder="Description" formControlName="description"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-divider nxText="Optional information"></nz-divider>

          <div nz-row nzType="flex" nxJustify="center" [nzGutter]="8">
            <div  nz-col nzSpan="5"><nz-form-label>Company Name:</nz-form-label></div>
            <div  nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-control>
                  <input nz-input placeholder="Company Name" formControlName="companyName">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div  nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-control><nz-switch  formControlName="showCompanyName" name="showCompanyName"></nz-switch></nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row nzType="flex" nxJustify="center" [nzGutter]="8">
            <div  nz-col nzSpan="5"><nz-form-label>Benefits:</nz-form-label></div>
            <div  nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-control>
                  <input nz-input placeholder="Benefits" formControlName="benefits">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div  nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-control><nz-switch formControlName="showBenefits" name="showBenefits"></nz-switch></nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row nzType="flex" nxJustify="center" [nzGutter]="8">
            <div  nz-col nzSpan="5"><nz-form-label>Salary:</nz-form-label></div>
            <div  nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select formControlName="salaryPrefix" class="phone-select">
                        <nz-option nzLabel="$" nzValue="$"></nz-option>
                        <nz-option nzLabel="£" nzValue="£"></nz-option>
                        <nz-option nzLabel="¥" nzValue="¥"></nz-option>
                      </nz-select>
                    </ng-template>
                    <input formControlName="salary" id="'salary'" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div  nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-control><nz-switch  formControlName="showSalary" name="showSalary"></nz-switch></nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <nz-divider></nz-divider>
          <nz-form-item>
            <nz-form-label>Type</nz-form-label>
            <nz-form-control>
              <nz-radio-group>
                <label nz-radio nzValue="Text">Text</label>
                <label nz-radio nzValue="Video">Video</label>
                <label nz-radio nzValue="Image">Image</label>
                <label nz-radio nzValue="Audio">Audio</label>
                <label nz-radio nzValue="Vimeo">Vimeo</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Content</nz-form-label>
            <div>
              <quill-editor [style]="{height: '200px'}"></quill-editor>
            </div>
          </nz-form-item>
          <nz-upload
          [nzCustomRequest]="customUploadReq" [nzHeaders] = "setMediaUploadHeaders" [nzName]="'files'"
            nzType="drag"
            [nzMultiple]="true"
            [nzLimit]="2"
            nzAction="https://jsonplaceholder.typicode.com/posts/">
            <p class="ant-upload-drag-icon">
              <i nz-icon type="inbox"></i>
            </p>
            <p class="ant-upload-text">Click or drag file to this area to upload</p>
          </nz-upload>
          <nz-form-item>
            <div class="submit mt-3">
              <button nz-button [nzType]="'primary'" class="mr-3">Save and Post</button>
              <button nz-button [nzType]="'danger'">Discard</button>
            </div>
          </nz-form-item>
        </form>
      </div>
    </div>
    </nz-card>
    <ng-template #advertTemplate>
      <!-- <a>List</a> -->
      <button nz-button nzType="link" type="reset" (click)="resetForm()">Clear</button>
      <button nz-button nzType="link" type="button"  routerLink="/forms/adverts">List</button>
    </ng-template>
  {{adForm.value | json}}
</nz-tab>
</nz-tabset>
