<div class="logo">
  <div class="logoContainer">
    <img *ngIf="!isMenuCollapsed" src="assets/images/logo-inverse.png" alt="" />
    <img *ngIf="isMenuCollapsed" src="assets/images/logo-inverse-mobile.png" alt="" />
  </div>
</div>
<div [ngClass]="isLightTheme ? 'navigation light' : 'navigation'">
  <perfect-scrollbar [ngClass]="isMobileView ? 'scrollbarMobile' : 'scrollbarDesktop'">
    <nz-carousel nzAutoPlay [nzEffect]="'fade'">
      <div nz-carousel-content *ngFor="let index of array" [ngStyle]="{backgroundImage: 'url(\'assets/images/photos/' + index + '.jpeg\')'}">
        <h3>{{ index }}</h3>
      </div>
      <!-- <div nz-carousel-content>A</div>
          <div nz-carousel-content>B</div>
          <div nz-carousel-content>C</div>
          <div nz-carousel-content>D</div> -->
    </nz-carousel>
    <ul nz-menu [nzTheme]="isLightTheme ? 'light' : 'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isMenuCollapsed">
        <li *ngIf="roles.includes('ROLE_GLOBAL')"  nz-menu-item>

                <input
                  placeholder="Search Company"
                  nz-input
                  [(ngModel)]="inputValue"
                  (input)="onInput($event.target?.value)"
                  [nzAutocomplete]="auto"
                />
                <nz-autocomplete #auto>
                    <nz-auto-option *ngFor="let item of filteredOptions" (click)="selectCompany(item)"  [nzValue]="item.name">{{item.name}}</nz-auto-option>
                </nz-autocomplete>
        </li>
      <ng-container *ngTemplateOutlet="menuTpl; context: {$implicit: menuDataActivated, level: 0}"></ng-container>

      <ng-template  #menuTpl let-menuDataActivated let-level="level">
        <ng-container  *ngFor="let item of menuDataActivated">
          <ng-template #tooltipTpl>
            {{ item.title }}
            <span *ngIf="item.pro" class="badge badge-primary badge-collapsed-hidden ml-2">PRO</span>
          </ng-template>
          <li nz-menu-item (click)="toggleSettings()" *ngIf="item.key === 'settings' " nz-tooltip nzPlacement="right"
            [nzTitle]="isMenuCollapsed && level === 0 ? tooltipTpl : ''">
            <span>
              <span class="title">{{item.title}}</span>
              <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
            </span>
          </li>
          <li nz-menu-item *ngIf="item.url && item.target" nz-tooltip nzPlacement="right"
            [nzTitle]="isMenuCollapsed && level === 0 ? tooltipTpl : ''">
            <a href={{item.url}} target={{item.target}}>
              <span class="title">{{item.title}}</span>
              <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
              <span *ngIf="item.pro" class="badge badge-primary badge-collapsed-hidden ml-2">PRO</span>
            </a>
          </li>
          <li nz-menu-divider *ngIf="item.divider"></li>
          <li nz-menu-item *ngIf="!item.children && item.url && !item.target" routerLink={{item.url}}
            [nzSelected]="item.selected" [nzDisabled]="item.disabled" nz-tooltip nzPlacement="right"
            [nzTitle]="isMenuCollapsed && level === 0 ? tooltipTpl : ''">
            <span [ngStyle]="{'padding-left.px': isMenuCollapsed ? '0' : level * 24}">
              <span class="title">{{item.title}}</span>
              <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
              <span *ngIf="item.pro" class="badge badge-primary badge-collapsed-hidden ml-2">PRO</span>
            </span>
          </li>
          <li nz-submenu *ngIf="item.children" [nzOpen]="item.open && !isMenuCollapsed">
            <span title [ngStyle]="{'padding-left.px': isMenuCollapsed ? '0' : level * 24}">
              <span class="title">{{item.title}}</span>
              <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
            </span>
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: {$implicit: item.children, level: level + 1}">
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>

    </ul>
    <!-- <div class="buyPro">
      <p>
        <strong>Vimbika Pro!</strong>
      </p>
      <a href="#" target="_blank"
        rel="noopener noreferrer" class="btn btn-sm btn-danger">
        Use Vimbika for $$$
      </a>
    </div> -->
  </perfect-scrollbar>
</div>
